*

!.gitmodules
!alacritty
!bash
!bspwm
!dunst
!mc
!picom
!polybar
!qpwgraph
!rofi
!suckless
!sxhkd
!tmux
!vim
!zathura

!alacritty/**
!bash/**
!bspwm/**
!dunst/**
!mc/**
!picom/**
!polybar/**
!qpwgraph/**
!rofi/**
!suckless/**
!sxhkd/**
!tmux/tmux.conf
!vim/**
!zathura/**

!.gitignore
