*

!alacritty
!bash
!bspwm
!dunst
!mc
!picom
!polybar
!qpwgraph
!rofi
!sxhkd
!tmux
!zathura
!vim
!.gitmodules

!alacritty/**
!bash/**
!bspwm/**
!dunst/**
!mc/**
!picom/**
!polybar/**
!qpwgraph/**
!rofi/**
!sxhkd/**
!tmux/tmux.conf
!zathura/**
!vim/**

!.gitignore
