configuration
{
    terminal: "/usr/bin/alacritty";
    padding: 20;
    line-padding: 2;
    show-icons: true;
    color-enabled: true;
    hide-scrollbar: true;
    font: "IosevkaTerm NFM 13";
}
@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"
